<div class="container">
    <img class="image" src="{{ entity.getThumbWebPath('detail') }}" title="{{ entity.sectiontitle }}" alt="{{ entity.sectiontitle }}">
    <div class="content">
        <div class="section-title">{{ entity.sectiontitle }}</div>
        <div class="title">{{ entity.title }}</div>
        <div class="section-content">{{ entity.content|raw }}</div>
    </div>
</div>
