{% for photo in gallery.photos %}
    <a class="example-image-link" href="{{ photo.getPhotoWebPath() }}" data-lightbox="example-set"><img class="example-image" src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" alt="" /></a>
{% endfor %}
