<div id="slider">
    <div class="container">
        <ul class="bxslider">
            {% set iterator = 0 %}
            {% for photo in entities %}
                <li>
                    <div class="slider-content">
                        <div class="slider-title">{{photo.title|truncate(64) }}</div>
                        <div class="slider-description">{{photo.content|truncate(110) }}</div>
                        {% if photo.link is not empty %}
                            <a href="{{photo.link}}" class="slider-link">{{ photo.linkTitle }}</a>
                        {% endif %}
                    </div>
                    <img id="full" class="slider-img" src="{{ photo.getThumbWebPath('full') }}?{{ random(10000) }}" alt=""/>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>