<option value="">-- Wybierz --</option>
{% for element in elements %}
	<option value="{{ element.parameters|json_encode() }}"{% if element.parameters|json_encode() == parameters %} selected="selected" {% endif %}>{{ element.title }}</option>
{% endfor %}