<div class="container {% if entities|length > 4 %}more{% endif %}">
    <div class="title"><div class="section-title">GWARANCJA I CERTYFIKATY</div></div>
    <div class="section-content">{{ cms_config.get('certificate_content', '') }}</div>
    {% if entities|length > 0 %}
        <div class="gallery-list">
            {% for photo in entities %}
            <div class="img-border">
                <a class="example-image-link" href="{{ photo.getPhotoWebPath() }}" data-lightbox="example-set">
                    <img class="example-image" src="{{ photo.getThumbWebPath('full') }}?{{ random(10000) }}" alt="">
                </a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>