{% extends '::frontend.html.twig' %}

{% block content %}
<div id="index">
    {{ render(controller('LsSliderBundle:Front:section')) }}
    {{ render(controller('LsOfferBundle:Front:section')) }}
    <div id="o-firmie" class="sections">
        {{ render(controller('LsSectionBundle:Front:section', {'id': 1})) }}
    </div>
    <div id="certyfikaty" class="gallery">
        {{ render(controller('LsCertificateBundle:Front:section')) }}
    </div>
</div>
{% endblock %}