@import "sass/variables";
@import "sass/mixins";

.editor {
    width: 594px;
    font-family: 'Asap', sans-serif;
}

.editor p,
.container p {
    font-family: 'Asap', sans-serif;
    color: $textColor;
    font-size: 13px;
    font-weight: $fontRegular;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    
    @include breakpoint(mobile) {
        font-size: 12px;
        letter-spacing: -0.02em;
        line-height: 1.4em;
    }
}

.editor .column,
.column {
    width: 277px;
    float: left;
    letter-spacing: -0.02em;
    line-height: 1.55em;
    
    @include breakpoint(tablet, mobile) {
        width: 100%;
    }
}

.editor .column:nth-child(2n),
.column:nth-child(2n) {
    margin-left: 37px;
    
    @include breakpoint(tablet, mobile) {
        width: 100%;
        margin: 0;
    }
}

.editor h2.h2,
h2.h2 {
    font-size: 17px;
    margin-top: 21px;
    margin-bottom: 13px;
    
    @include breakpoint(mobile) {
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 6px;
    }
}