.editor {
  width: 594px;
  font-family: 'Asap', sans-serif; }

.editor p,
.container p {
  font-family: 'Asap', sans-serif;
  color: #363636;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  line-height: 1.6em; }
  @media screen and (max-width: 769px) {
    .editor p,
    .container p {
      font-size: 12px;
      letter-spacing: -0.02em;
      line-height: 1.4em; } }

.editor .column,
.column {
  width: 277px;
  float: left;
  letter-spacing: -0.02em;
  line-height: 1.55em; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .editor .column,
    .column {
      width: 100%; } }
  @media screen and (max-width: 769px) {
    .editor .column,
    .column {
      width: 100%; } }

.editor .column:nth-child(2n),
.column:nth-child(2n) {
  margin-left: 37px; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .editor .column:nth-child(2n),
    .column:nth-child(2n) {
      width: 100%;
      margin: 0; } }
  @media screen and (max-width: 769px) {
    .editor .column:nth-child(2n),
    .column:nth-child(2n) {
      width: 100%;
      margin: 0; } }

.editor h2.h2,
h2.h2 {
  font-size: 17px;
  margin-top: 21px;
  margin-bottom: 13px; }
  @media screen and (max-width: 769px) {
    .editor h2.h2,
    h2.h2 {
      font-size: 16px;
      margin-top: 16px;
      margin-bottom: 6px; } }

/*# sourceMappingURL=editor.css.map */
