* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Asap', sans-serif;
  color: #363636;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.03em; }
  @media screen and (max-width: 769px) {
    body {
      font-size: 12px; } }

@media screen and (max-width: 769px) {
  html {
    overflow-x: hidden; } }

#index {
  width: 100%;
  float: left;
  overflow-x: hidden; }
  #index::after {
    display: block;
    content: "";
    clear: both; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 147px;
  position: relative; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .container {
      width: 750px;
      padding: 0; } }
  @media screen and (max-width: 769px) {
    .container {
      width: 320px;
      padding: 0 10px; } }

.navbar-default {
  float: right;
  background: transparent;
  border: none;
  background-color: transparent;
  margin: 0;
  margin-top: 11px; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .navbar-default {
      display: none; } }
  @media screen and (max-width: 769px) {
    .navbar-default {
      display: none; } }
  .navbar-default li {
    margin-left: 22px; }
    .navbar-default li a {
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px; }
      .navbar-default li a .caret {
        display: none; }
    .navbar-default li.first a {
      padding-left: 0px; }
    .navbar-default li.last a {
      padding-right: 0px; }
  .navbar-default .has-submenu:hover .dropdown-menu {
    display: block; }
  .navbar-default li > .dropdown-menu {
    width: 204px;
    background: #bcd614;
    border: none;
    box-shadow: none;
    border-radius: 20px;
    top: 33px;
    left: -6px;
    padding: 10px 17px; }
    .navbar-default li > .dropdown-menu li {
      margin: 0; }
      .navbar-default li > .dropdown-menu li a {
        font-weight: 500;
        padding: 2px 0px;
        color: white;
        font-size: 12px;
        letter-spacing: 0.01em; }
        .navbar-default li > .dropdown-menu li a:hover {
          background-color: transparent;
          color: #363636; }

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #363636;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #bcd614; }

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: transparent; }

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #bcd614; }

.mobile-menu-btn {
  float: right;
  width: 32px;
  height: 22px;
  margin-top: 12px;
  background: url("../images/mobile-menu.png") no-repeat;
  display: none; }
  .mobile-menu-btn:hover {
    cursor: pointer;
    cursor: hand; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .mobile-menu-btn {
      display: block; } }
  @media screen and (max-width: 769px) {
    .mobile-menu-btn {
      display: block; } }

header {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 10px; }
  header::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    header {
      padding-top: 16px; } }
  @media screen and (max-width: 769px) {
    header {
      padding-top: 16px; } }
  header .top-tagline {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    float: left;
    padding-left: 24px;
    border-left: 2px solid #bbbbbb;
    margin-left: 27px;
    margin-top: 12px;
    letter-spacing: -0.01em; }
    @media screen and (max-width: 769px) {
      header .top-tagline {
        padding-left: 0px;
        border-left: none;
        margin-left: -1px;
        margin-top: 15px;
        line-height: 1.1em; } }
  header .logo {
    width: 124px;
    height: 47px;
    float: left; }
    @media screen and (max-width: 769px) {
      header .logo {
        width: 76px;
        height: 35px; } }
    header .logo img {
      width: 100%; }
  @media screen and (max-width: 769px) {
    header .logotype {
      float: left;
      max-width: 50%; } }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    header#offer-header {
      border-bottom: 4px solid #eeeeee;
      padding-bottom: 0px; } }
  header#offer-header .container {
    border-bottom: 4px solid #eeeeee;
    padding-bottom: 34px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      header#offer-header .container {
        padding-bottom: 25px;
        border: none; } }
    @media screen and (max-width: 769px) {
      header#offer-header .container {
        padding-bottom: 5px;
        border: none; } }
  header .page-name {
    float: left;
    font-size: 27px;
    color: #177abf;
    padding-left: 30px;
    background: url(../images/black-arrow.png) no-repeat;
    background-position: 0% center;
    margin-top: 10px;
    margin-left: 29px; }
    @media screen and (max-width: 769px) {
      header .page-name {
        font-size: 18px;
        padding-left: 18px;
        margin-top: 5px;
        margin-left: 13px; } }
  header .to-main {
    width: 177px;
    height: 40px;
    float: right;
    line-height: 35px;
    border: 2px solid #bbd50f;
    border-radius: 20px;
    margin-right: 27px;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 500;
    color: black;
    padding-left: 32px;
    background: url(../images/black-arrow-left.png) no-repeat;
    background-position: 8% center;
    text-decoration: none; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      header .to-main {
        margin-right: 0px;
        margin-top: 6px; } }
    @media screen and (max-width: 769px) {
      header .to-main {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin-top: -2px;
        margin-right: 0px;
        width: 63px;
        background-position: 22% center;
        position: relative; }
        header .to-main:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 12px;
          background: url("../images/icon-home.png") no-repeat;
          top: 11px;
          right: 13px; } }

#slider {
  width: 100%;
  height: 354px; }
  #slider::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (max-width: 769px) {
    #slider {
      height: 275px; } }
  #slider .bxslider {
    visibility: hidden; }
  #slider .bx-wrapper {
    margin-bottom: 0; }
  #slider .bx-wrapper .bx-pager.bx-default-pager a {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    position: relative;
    margin: 0 3px; }
    #slider .bx-wrapper .bx-pager.bx-default-pager a:before {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      background: #919191; }
  #slider .bx-wrapper .bx-pager {
    padding-top: 0px;
    bottom: 36px;
    left: 136px;
    width: 25%; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      #slider .bx-wrapper .bx-pager {
        bottom: 55px;
        left: 155px; } }
    @media screen and (max-width: 769px) {
      #slider .bx-wrapper .bx-pager {
        padding-top: 0px;
        bottom: 67px;
        left: 0px;
        width: 100%; } }
  #slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
  #slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    border: 2px solid #bbd50f; }
  #slider .bx-wrapper img {
    float: right;
    margin-top: 60px;
    margin-right: 96px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      #slider .bx-wrapper img {
        margin-top: 64px;
        margin-right: 0px; } }
    @media screen and (max-width: 769px) {
      #slider .bx-wrapper img {
        display: none; } }
  #slider .slider-content {
    float: left;
    max-width: 33%;
    left: -2px;
    position: relative;
    margin-top: 94px; }
    @media screen and (max-width: 769px) {
      #slider .slider-content {
        max-width: 100%;
        left: 0px;
        margin-top: 28px;
        text-align: center; } }
    #slider .slider-content .slider-title {
      font-size: 27px;
      float: left;
      width: 100%;
      line-height: 1.14em;
      margin-top: 5px;
      letter-spacing: 0.0em; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        #slider .slider-content .slider-title {
          margin-top: 8px; } }
      @media screen and (max-width: 769px) {
        #slider .slider-content .slider-title {
          font-size: 22px;
          margin-top: 8px; } }
    #slider .slider-content .slider-description {
      width: 100%;
      float: left;
      margin-top: 28px;
      margin-left: 3px; }
      @media screen and (max-width: 769px) {
        #slider .slider-content .slider-description {
          margin-top: 20px;
          margin-left: 0px; } }
    #slider .slider-content .slider-link {
      width: 128px;
      height: 40px;
      float: left;
      line-height: 36px;
      border: 2px solid #bbd50f;
      border-radius: 20px;
      margin-left: 3px;
      margin-top: 36px;
      font-size: 13px;
      font-weight: 500;
      color: black;
      padding-left: 16px;
      background: url("../images/black-arrow.png") no-repeat;
      background-position: 89% center;
      text-decoration: none; }
      #slider .slider-content .slider-link:hover {
        color: white;
        background: url("../images/white-arrow.png") no-repeat;
        background-position: 89% center;
        background-color: #bbd50f; }
      @media screen and (max-width: 769px) {
        #slider .slider-content .slider-link {
          margin-left: 85px;
          margin-top: 61px;
          text-align: start; } }

#offer-list {
  position: relative;
  margin-top: 52px; }
  #offer-list::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    #offer-list {
      margin-top: 56px; }
      #offer-list .container {
        text-align: center; } }
  @media screen and (max-width: 769px) {
    #offer-list {
      margin-top: 43px; }
      #offer-list .container {
        text-align: center; } }
  #offer-list:before {
    content: "";
    width: 100%;
    height: 4px;
    background: #146ca9;
    position: absolute;
    z-index: -2;
    bottom: 45px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      #offer-list:before {
        bottom: 50px; } }
    @media screen and (max-width: 769px) {
      #offer-list:before {
        display: none; } }
  #offer-list .item {
    float: right;
    width: 204px;
    height: 136px;
    background: white;
    position: relative;
    margin-left: 29px;
    border-radius: 20px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      #offer-list .item {
        margin: 0 10px;
        float: none;
        display: inline-block; } }
    @media screen and (max-width: 769px) {
      #offer-list .item {
        margin: 0 10px;
        float: none;
        display: inline-block; } }
    @media screen and (max-width: 769px) {
      #offer-list .item {
        margin-bottom: 14px; } }
    #offer-list .item .title {
      color: #363636;
      text-decoration: none;
      font-size: 15px;
      float: left;
      margin-top: 25px;
      margin-left: 20px; }
    #offer-list .item .offer-icon {
      float: right;
      margin-top: 18px; }
    #offer-list .item:hover:before {
      background: url("../images/icon-btn-hover.png") no-repeat; }
    #offer-list .item:before {
      content: "";
      width: 35px;
      height: 36px;
      background: url("../images/icon-btn.png") no-repeat;
      position: absolute;
      bottom: 16px;
      left: 19px; }
    #offer-list .item:after {
      content: "";
      width: 382px;
      height: 298px;
      background: url("../images/box-shadow.png") no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -89px;
      right: 0;
      margin: auto;
      z-index: -1; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        #offer-list .item:after {
          width: 400px;
          height: 270px;
          background-size: contain;
          top: 25px;
          left: -64px; } }
      @media screen and (max-width: 769px) {
        #offer-list .item:after {
          width: 400px;
          height: 270px;
          background-size: contain;
          top: 25px;
          left: -64px; } }

.sections {
  position: relative;
  padding-top: 104px;
  padding-bottom: 97px; }
  .sections::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .sections {
      padding-bottom: 120px; } }
  @media screen and (max-width: 769px) {
    .sections {
      padding-top: 29px;
      padding-bottom: 30px; } }
  .sections:after {
    content: "";
    width: 100%;
    height: 4px;
    background: #146ca9;
    position: absolute;
    z-index: -2;
    bottom: 45px;
    bottom: 0; }
    @media screen and (max-width: 769px) {
      .sections:after {
        display: none; } }
  .sections .image {
    float: left;
    margin-top: 111px;
    border-radius: 20px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .sections .image {
        margin-top: 50px;
        margin-left: 49px;
        width: 205px;
        height: 247px;
        object-fit: none;
        object-position: center; } }
    @media screen and (max-width: 769px) {
      .sections .image {
        display: none; } }
  .sections .content {
    float: right;
    text-align: left;
    width: 624px;
    padding-left: 30px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .sections .content {
        width: 438px;
        padding-left: 0px;
        margin-top: 5px; } }
    @media screen and (max-width: 769px) {
      .sections .content {
        text-align: center;
        width: 100%;
        padding-left: 0px; } }
    .sections .content .section-title {
      background: #177abf;
      color: white;
      font-size: 12px;
      font-weight: 700;
      display: inline-block;
      padding: 2px 9px 0px 7px;
      margin-left: 2px;
      text-transform: uppercase;
      border-radius: 5px;
      letter-spacing: 0.0em; }
    .sections .content .title {
      font-size: 27px;
      float: left;
      width: 100%;
      margin-top: 32px;
      line-height: 1.1em;
      margin-left: -2px;
      padding-right: 320px;
      position: relative; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .sections .content .title {
          font-size: 23px;
          margin-top: 24px;
          margin-left: 0px;
          padding-right: 220px; } }
      @media screen and (max-width: 769px) {
        .sections .content .title {
          font-size: 23px;
          width: 65%;
          margin-top: 21px;
          margin-left: 55px;
          padding-right: 0px; } }
      .sections .content .title:after {
        content: "";
        position: absolute;
        background: url("../images/vawe.png") no-repeat;
        width: 95px;
        height: 12px;
        right: 0px;
        bottom: 2px; }
        @media screen and (max-width: 769px) {
          .sections .content .title:after {
            display: none; } }
    .sections .content .section-content {
      float: left;
      width: 100%;
      margin-top: 31px;
      margin-left: -2px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .sections .content .section-content {
          margin-top: 23px;
          margin-left: 0px; } }
      @media screen and (max-width: 769px) {
        .sections .content .section-content {
          margin-top: 19px;
          margin-left: 0px; } }

.gallery {
  position: relative;
  padding-top: 92px;
  padding-bottom: 36px; }
  .gallery::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .gallery {
      padding-top: 69px;
      padding-bottom: 17px;
      overflow-x: hidden; } }
  @media screen and (max-width: 769px) {
    .gallery {
      padding-top: 25px;
      padding-bottom: 0px;
      overflow: hidden; } }
  .gallery .container {
    padding: 0 132px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .gallery .container {
        padding: 0px; } }
    @media screen and (max-width: 769px) {
      .gallery .container {
        padding: 0 10px; } }
  .gallery .title {
    float: left;
    width: 100%;
    text-align: center; }
  .gallery .section-title {
    background: #177abf;
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 3px 8px 0px 9px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 0.02em; }
  .gallery .more .bx-wrapper:after {
    background-position: 113% -198%; }
  .gallery .bx-wrapper {
    max-width: 100% !important;
    width: 100%;
    left: 15px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .gallery .bx-wrapper {
        width: 88%;
        left: 6px; } }
    @media screen and (max-width: 769px) {
      .gallery .bx-wrapper {
        width: 68%;
        left: 0;
        top: 7px; } }
    .gallery .bx-wrapper:before {
      content: "";
      background: url(../images/img-box-shadow.png) no-repeat;
      position: absolute;
      width: 130px;
      height: 290px;
      top: 72px;
      left: -130px;
      background-position: -13% -198%;
      z-index: -1; }
      @media screen and (max-width: 769px) {
        .gallery .bx-wrapper:before {
          width: 130px;
          height: 235px;
          top: 79px;
          left: -130px;
          background-position: -10% 0%; } }
    .gallery .bx-wrapper:after {
      content: "";
      background: url(../images/img-box-shadow.png) no-repeat;
      position: absolute;
      width: 130px;
      height: 290px;
      top: 72px;
      right: -130px;
      background-position: 128% -198%;
      z-index: -1; }
    .gallery .bx-wrapper .bx-prev {
      background: url("../images/prev-arrow.png") no-repeat;
      width: 23px;
      height: 44px;
      margin: 0;
      top: 134px;
      left: -96px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .gallery .bx-wrapper .bx-prev {
          left: -51px; } }
      @media screen and (max-width: 769px) {
        .gallery .bx-wrapper .bx-prev {
          top: 138px;
          left: -49px; } }
      .gallery .bx-wrapper .bx-prev:hover {
        background: url("../images/prev-arrow-hover.png") no-repeat; }
    .gallery .bx-wrapper .bx-next {
      background: url("../images/next-arrow.png") no-repeat;
      width: 23px;
      height: 44px;
      margin: 0;
      top: 134px;
      right: -70px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .gallery .bx-wrapper .bx-next {
          right: -40px; } }
      @media screen and (max-width: 769px) {
        .gallery .bx-wrapper .bx-next {
          top: 137px;
          right: -48px; } }
      .gallery .bx-wrapper .bx-next:hover {
        background: url("../images/next-arrow-hover.png") no-repeat; }
    .gallery .bx-wrapper .bx-viewport {
      background: transparent;
      height: 370px !important; }
      @media screen and (max-width: 769px) {
        .gallery .bx-wrapper .bx-viewport {
          height: 335px !important; } }
  .gallery .gallery-list {
    float: left;
    margin-top: 18px;
    visibility: hidden; }
  .gallery .img-border {
    float: left;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background: white;
    width: 204px !important; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .gallery .img-border {
        margin-right: 20px !important; } }
    .gallery .img-border .example-image-link {
      width: 164px;
      height: 225px;
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
      float: left;
      overflow: hidden; }
      .gallery .img-border .example-image-link:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: none;
        width: 35px;
        height: 36px;
        background: url("../images/icon-zoom.png") no-repeat; }
      .gallery .img-border .example-image-link:hover img {
        transform: scale(1.1); }
      .gallery .img-border .example-image-link:hover:after {
        display: block; }
      .gallery .img-border .example-image-link:before {
        content: "";
        background: url("../images/img-box-shadow.png") no-repeat;
        position: absolute;
        width: 382px;
        height: 298px;
        top: 70px;
        z-index: -2;
        left: -88px; }
    .gallery .img-border img {
      width: 100%;
      transition: all 0.3s; }
  .gallery .section-content {
    width: 449px;
    margin: 0 auto;
    text-align: center;
    margin-top: 54px;
    line-height: 1.5;
    letter-spacing: -0.02em; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .gallery .section-content {
        margin-top: 45px;
        margin-bottom: 11px; } }
    @media screen and (max-width: 769px) {
      .gallery .section-content {
        width: 100%;
        margin-top: 43px;
        line-height: 1.4; } }

.contact {
  position: relative;
  float: left;
  width: 100%; }
  .contact::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    .contact {
      background: #373737; } }
  @media screen and (max-width: 769px) {
    .contact {
      background: #373737; } }
  .contact .container {
    background: #373737;
    border-radius: 30px;
    padding-bottom: 35px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .contact .container {
        background: transparent; } }
    @media screen and (max-width: 769px) {
      .contact .container {
        background: transparent; } }
  .contact .title {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 41px; }
    @media screen and (max-width: 769px) {
      .contact .title {
        margin-top: 52px; } }
  .contact .section-title {
    background: #177abf;
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 3px 8px 0px 9px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 0.02em; }
  .contact .contact-info {
    float: left;
    width: 443px;
    margin-top: 28px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .contact .contact-info {
        width: 390px; } }
    @media screen and (max-width: 769px) {
      .contact .contact-info {
        width: 100%;
        margin-top: 26px; } }
    .contact .contact-info .logo {
      float: left;
      width: 82px;
      height: 31px; }
      @media screen and (max-width: 769px) {
        .contact .contact-info .logo {
          margin-left: 110px; } }
      .contact .contact-info .logo img {
        width: 100%; }
    .contact .contact-info .contact-info-container {
      float: left;
      width: 100%; }
      .contact .contact-info .contact-info-container .first-info {
        float: left;
        width: 156px;
        color: white;
        margin-top: 30px;
        line-height: 1.38em; }
        @media screen and (max-width: 769px) {
          .contact .contact-info .contact-info-container .first-info {
            width: 100%;
            margin-top: 10px;
            text-align: center;
            line-height: 1.5em;
            font-size: 12px; } }
      .contact .contact-info .contact-info-container .second-info {
        float: right;
        width: 234px;
        padding-right: 15px;
        color: white;
        margin-top: 66px;
        line-height: 1.38em; }
        @media screen and (min-width: 770px) and (max-width: 1220px) {
          .contact .contact-info .contact-info-container .second-info {
            margin-top: 64px;
            line-height: 1.37em; } }
        @media screen and (max-width: 769px) {
          .contact .contact-info .contact-info-container .second-info {
            width: 100%;
            padding-right: 0px;
            margin-top: 19px;
            line-height: 1.34em;
            column-count: 2;
            text-align: center;
            font-size: 12px;
            letter-spacing: -0.0em; } }
  .contact .contact-form {
    float: right;
    width: 440px;
    margin-top: 32px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      .contact .contact-form {
        width: 360px;
        margin-top: 34px; } }
    @media screen and (max-width: 769px) {
      .contact .contact-form {
        width: 100%;
        margin-top: 15px; } }
    .contact .contact-form .form-title {
      font-size: 27px;
      color: white;
      letter-spacing: -0.02em; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .contact .contact-form .form-title {
          font-size: 23px; } }
      @media screen and (max-width: 769px) {
        .contact .contact-form .form-title {
          font-size: 23px;
          text-align: center;
          width: 200px;
          margin: 0 auto; } }
    .contact .contact-form #form_contact {
      float: left;
      width: 100%;
      margin-top: 23px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .contact .contact-form #form_contact {
          margin-top: 26px; } }
      @media screen and (max-width: 769px) {
        .contact .contact-form #form_contact {
          width: 87%;
          margin-left: 18px;
          margin-top: 13px; } }
    .contact .contact-form .form-group {
      margin: 0px;
      margin-bottom: 10px;
      padding-left: 2px; }
    .contact .contact-form .phone {
      float: left;
      width: 213px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .contact .contact-form .phone {
          width: 175px; } }
      @media screen and (max-width: 769px) {
        .contact .contact-form .phone {
          width: 100%; } }
    .contact .contact-form .email {
      float: right;
      width: 213px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        .contact .contact-form .email {
          width: 175px; } }
      @media screen and (max-width: 769px) {
        .contact .contact-form .email {
          width: 100%; } }
    .contact .contact-form ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #b6b6b6; }
      .contact .contact-form ::-webkit-input-placeholder:focus {
        color: white; }
    .contact .contact-form ::-moz-placeholder {
      /* Firefox 19+ */
      color: #b6b6b6; }
      .contact .contact-form ::-moz-placeholder:focus {
        color: white; }
    .contact .contact-form :-ms-input-placeholder {
      /* IE 10+ */
      color: #b6b6b6; }
      .contact .contact-form :-ms-input-placeholder:focus {
        color: white; }
    .contact .contact-form :-moz-placeholder {
      /* Firefox 18- */
      color: #b6b6b6; }
      .contact .contact-form :-moz-placeholder:focus {
        color: white; }
    .contact .contact-form .form-control {
      background: #2c2c2c;
      color: white;
      border: 0;
      outline: none;
      box-shadow: none;
      height: 40px;
      border-radius: 20px;
      font-size: 13px;
      letter-spacing: -0.02em;
      padding: 6px 21px; }
      .contact .contact-form .form-control:focus {
        background: #bbd50f; }
    .contact .contact-form .textarea {
      resize: none;
      height: 110px;
      padding-top: 12px; }
      @media screen and (max-width: 769px) {
        .contact .contact-form .textarea {
          height: 130px; } }
    .contact .contact-form .submit-btn {
      float: left;
      width: 100%;
      margin-top: 2px; }
      .contact .contact-form .submit-btn .message {
        float: right;
        width: 312px; }
        @media screen and (max-width: 769px) {
          .contact .contact-form .submit-btn .message {
            float: left;
            width: 100%; } }
        .contact .contact-form .submit-btn .message .green-color {
          color: #bbd50f;
          height: 40px;
          line-height: 40px;
          font-size: 14px; }
          @media screen and (max-width: 769px) {
            .contact .contact-form .submit-btn .message .green-color {
              text-align: center; } }
        .contact .contact-form .submit-btn .message .red-color {
          color: #d50f0f;
          height: 40px;
          line-height: 40px;
          font-size: 14px; }
          @media screen and (max-width: 769px) {
            .contact .contact-form .submit-btn .message .red-color {
              text-align: center; } }
      .contact .contact-form .submit-btn .btn-default {
        border: 2px solid #bbd50f;
        background: transparent url(../images/white-arrow.png) no-repeat;
        background-position: 82% center;
        color: white;
        width: 83px;
        height: 40px;
        border-radius: 20px;
        text-align: start;
        padding: 0px 14px;
        font-weight: 500;
        letter-spacing: -0.05em;
        outline: none; }
        .contact .contact-form .submit-btn .btn-default:hover {
          background-color: #bbd50f; }
        @media screen and (max-width: 769px) {
          .contact .contact-form .submit-btn .btn-default {
            margin-left: 88px;
            margin-bottom: 6px; } }

#page {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden; }
  #page::after {
    display: block;
    content: "";
    clear: both; }
  #page .container {
    padding: 0 132px;
    padding-bottom: 71px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      #page .container {
        padding: 0;
        padding-bottom: 33px; } }
    @media screen and (max-width: 769px) {
      #page .container {
        padding: 0 10px; } }
  #page .left-content {
    float: left;
    width: 702px; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      #page .left-content {
        width: 546px;
        padding-right: 30px; } }
    @media screen and (max-width: 769px) {
      #page .left-content {
        width: 100%;
        text-align: center; } }
    #page .left-content .title {
      float: left;
      width: 100%;
      padding: 0 15px;
      font-size: 27px;
      font-weight: normal;
      margin-top: 41px;
      margin-left: -1px;
      margin-bottom: 6px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        #page .left-content .title {
          padding: 0;
          font-size: 23px;
          margin-top: 37px;
          margin-left: 0px;
          margin-bottom: 0px; } }
      @media screen and (max-width: 769px) {
        #page .left-content .title {
          padding: 0;
          font-size: 23px;
          margin-top: 26px;
          margin-left: 0px;
          margin-bottom: 7px; } }
    #page .left-content .content-text {
      float: left;
      width: 100%;
      padding: 0 15px; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        #page .left-content .content-text {
          padding: 0; } }
  #page .right-content {
    float: right;
    width: 234px;
    padding: 0 15px;
    margin-top: 94px; }
    @media screen and (max-width: 769px) {
      #page .right-content {
        padding: 0;
        width: 100%;
        display: none; } }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      #page .right-content {
        width: 204px;
        padding: 0px;
        margin-top: 80px; } }
    #page .right-content .section-title {
      font-size: 17px;
      margin-bottom: 16px; }
    #page .right-content .item {
      float: right;
      width: 204px;
      height: 136px;
      background: white;
      position: relative;
      margin-left: 29px;
      border-radius: 20px;
      margin-bottom: 21px; }
      #page .right-content .item .title {
        color: #363636;
        text-decoration: none;
        font-size: 15px;
        float: left;
        margin-top: 25px;
        margin-left: 20px; }
      #page .right-content .item .offer-icon {
        float: right;
        margin-top: 18px; }
      #page .right-content .item:hover:before {
        background: url("../images/icon-btn-hover.png") no-repeat; }
      #page .right-content .item:before {
        content: "";
        width: 35px;
        height: 36px;
        background: url("../images/icon-btn.png") no-repeat;
        position: absolute;
        bottom: 16px;
        left: 19px; }
      #page .right-content .item:after {
        content: "";
        width: 382px;
        height: 298px;
        background: url("../images/box-shadow.png") no-repeat;
        position: absolute;
        top: 35px;
        bottom: 0;
        left: -89px;
        right: 0;
        margin: auto;
        z-index: -1; }
  #page .photo-gallery {
    float: left;
    width: 100%;
    margin-top: 34px;
    margin-bottom: 20px; }
    @media screen and (max-width: 769px) {
      #page .photo-gallery {
        margin-top: 20px;
        margin-bottom: 25px; } }
    #page .photo-gallery a.example-image-link {
      position: relative;
      margin: 0 15px;
      margin-bottom: 30px;
      width: 204px;
      height: 136px;
      float: left;
      border-radius: 20px;
      overflow: hidden;
      -webkit-mask-image: -webkit-radial-gradient(circle, white, black); }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        #page .photo-gallery a.example-image-link {
          margin: 0px;
          margin-right: 30px;
          margin-bottom: 30px; } }
      @media screen and (max-width: 769px) {
        #page .photo-gallery a.example-image-link {
          margin: 0 47px;
          margin-bottom: 20px; } }
      #page .photo-gallery a.example-image-link:before {
        content: "";
        width: 382px;
        height: 298px;
        background: url(../images/box-shadow.png) no-repeat;
        position: absolute;
        top: 40px;
        bottom: 0;
        left: -94px;
        right: 0;
        margin: auto;
        z-index: -1; }
      #page .photo-gallery a.example-image-link:hover img {
        transform: scale(1.1); }
      #page .photo-gallery a.example-image-link:hover:after {
        display: block; }
      #page .photo-gallery a.example-image-link:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: none;
        width: 35px;
        height: 36px;
        background: url(../images/icon-zoom.png) no-repeat; }
      #page .photo-gallery a.example-image-link img {
        margin: auto;
        transition: all 0.3s;
        width: 100%;
        height: 100%; }

footer {
  position: relative;
  float: left;
  width: 100%;
  height: 135px; }
  footer::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 770px) and (max-width: 1220px) {
    footer {
      height: 114px; } }
  @media screen and (max-width: 769px) {
    footer {
      height: 111px; } }
  footer .copy {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 42px;
    color: #8c8c8c; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      footer .copy {
        margin-top: 34px;
        font-size: 12px; } }
    @media screen and (max-width: 769px) {
      footer .copy {
        margin-top: 35px; } }
  footer .project {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 4px;
    letter-spacing: 0.0em;
    color: #8c8c8c; }
    @media screen and (min-width: 770px) and (max-width: 1220px) {
      footer .project {
        margin-top: 2px; } }
    footer .project a.lemo-logo {
      padding-left: 16px;
      position: relative; }
      @media screen and (min-width: 770px) and (max-width: 1220px) {
        footer .project a.lemo-logo {
          padding-left: 0px; } }
      footer .project a.lemo-logo img {
        position: relative;
        left: -10px; }
        @media screen and (min-width: 770px) and (max-width: 1220px) {
          footer .project a.lemo-logo img {
            left: 8px; } }

.menu-mobile {
  background: #0077c0;
  position: fixed;
  display: none;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  top: 0; }
  .menu-mobile .hide-menu {
    background: transparent url(../images/hide-menu.png) no-repeat right top;
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
    right: -260px;
    top: 28px; }
    @media screen and (max-width: 769px) {
      .menu-mobile .hide-menu {
        right: -50px; } }
  .menu-mobile .content {
    position: relative;
    display: table;
    height: 100%;
    margin: 0 auto; }
    .menu-mobile .content .menu-container {
      vertical-align: middle;
      display: table-cell; }
      .menu-mobile .content .menu-container ul {
        list-style: none;
        padding: 0;
        width: 225px; }
        .menu-mobile .content .menu-container ul li {
          text-align: center;
          float: none; }
          .menu-mobile .content .menu-container ul li .has-submenu {
            display: none; }
          .menu-mobile .content .menu-container ul li a {
            color: white;
            display: inline-block;
            font-size: 18px;
            margin: 0 auto;
            padding: 9px 4px;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            background: transparent; }
            @media screen and (max-width: 769px) {
              .menu-mobile .content .menu-container ul li a {
                font-size: 18px;
                margin: 0 auto;
                padding: 7px 4px; } }
            .menu-mobile .content .menu-container ul li a:hover {
              background: transparent;
              color: #bbd50f; }
        .menu-mobile .content .menu-container ul .dropdown-menu {
          background: transparent;
          background-color: transparent;
          border: none;
          box-shadow: none;
          position: relative;
          display: block;
          float: none; }

.mobile-select {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
  display: none;
  background: #0077c0; }
  .mobile-select::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (max-width: 769px) {
    .mobile-select {
      display: block; } }
  .mobile-select .items {
    width: 204px;
    height: 40px;
    margin: 0 auto;
    margin-top: 14px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 20px;
    border: 2px solid #bbd50f;
    z-index: 1; }
    .mobile-select .items:hover {
      cursor: pointer;
      cursor: hand; }
    .mobile-select .items .item {
      display: none; }
    .mobile-select .items .active-item {
      display: block;
      color: white;
      font-weight: 500;
      font-size: 13px;
      background: url("../images/white-arrow-down.png") no-repeat;
      background-position: 93% center;
      padding: 9px 14px; }
  .mobile-select .active {
    width: 204px;
    border-radius: 20px;
    background: #bbd50f;
    margin: 0 auto;
    margin-top: 14px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 9px 0;
    z-index: 1;
    border: none;
    height: auto; }
    .mobile-select .active .item {
      font-weight: 500;
      font-size: 13px;
      color: white;
      float: left;
      width: 100%;
      padding: 3px 16px;
      display: block; }
    .mobile-select .active .active-item {
      color: #363636;
      background: url("../images/white-arrow-up.png") no-repeat;
      background-position: 93% center; }

/*# sourceMappingURL=style.css.map */
