@import "sass/variables";
@import "sass/mixins";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Asap', sans-serif;
    color: $textColor;
    font-size: 13px;
    font-weight: $fontRegular;
    letter-spacing: -0.03em;
    
    @include breakpoint(mobile) {
        font-size: 12px;
    }
}

html {
    @include breakpoint(mobile) {
        overflow-x: hidden;
    }
}

#index {
    width: 100%;
    float: left;
    overflow-x: hidden;
    
    @include clearfix();
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 147px;
    position: relative;
    
    @include breakpoint(tablet) {
        width: 750px;
        padding: 0;
    }
    
    @include breakpoint(mobile) {
        width: 320px;
        padding: 0 10px;
    }
}

.navbar-default {
    float: right;
    background: transparent;
    border: none;
    background-color: transparent;
    margin: 0;
    margin-top: 11px;
    
    @include breakpoint(tablet, mobile) {
        display: none;
    }
    
    li {
        margin-left: 22px;
        a {
            text-transform: uppercase;
            font-weight: $fontMedium;
            padding: 10px;
            
            .caret {
                display: none;
            }
        }
        
        &.first {
            a {
                padding-left: 0px;
            }
        }
        &.last {
            a {
                padding-right: 0px;
            }
        }
    }
    
    .has-submenu:hover {
        .dropdown-menu {
            display: block;
        }
    }
    
    li> .dropdown-menu {
        width: 204px;
        background: $green;
        border: none;
        box-shadow: none;
        border-radius: 20px;
        top: 33px;
        left: -6px;
        padding: 10px 17px;
        
        li {
            margin: 0;
            
            a {
                font-weight: $fontMedium;
                padding: 2px 0px;
                color: white;
                font-size: 12px;
                letter-spacing: 0.01em;
                
                &:hover {
                    background-color: transparent;
                    color: $textColor;
                }
            }
        }
    }
}

.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: $textColor;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: $green;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
    background: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: $green;
}

.mobile-menu-btn {
    float: right;
    width: 32px;
    height: 22px;
    margin-top: 12px;
    background: url('../images/mobile-menu.png') no-repeat;
    display: none;
    
    &:hover {
        cursor: pointer; 
        cursor: hand;
    }
    
    @include breakpoint(tablet, mobile) {
        display: block;
    }
}

header {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 10px;
    @include clearfix();
    
    @include breakpoint(tablet, mobile) {
        padding-top: 16px;
    }
    
    .top-tagline {
        font-size: 10px;
        text-transform: uppercase;
        font-family: 'Arial', sans-serif;
        float: left;
        padding-left: 24px;
        border-left: 2px solid #bbbbbb;
        margin-left: 27px;
        margin-top: 12px;
        letter-spacing: -0.01em;
        
        @include breakpoint(mobile) {
            padding-left: 0px;
            border-left: none;
            margin-left: -1px;
            margin-top: 15px;
            line-height: 1.1em;
        }
    }
    
    .logo {
        width: 124px;
        height: 47px;
        float: left;
        
        @include breakpoint(mobile) {
            width: 76px;
            height: 35px;
        }
        
        img {
            width: 100%;
        }
    }
    
    .logotype {
        @include breakpoint(mobile) {
            float: left;
            max-width: 50%;
        }
    }
    
    &#offer-header {
        @include breakpoint(tablet) {
            border-bottom: 4px solid #eeeeee;
            padding-bottom: 0px;
        }
        
        .container {
            border-bottom: 4px solid #eeeeee;
            padding-bottom: 34px;
            
            @include breakpoint(tablet) {
                padding-bottom: 25px;
                border: none;
            }
            
            @include breakpoint(mobile) {
                padding-bottom: 5px;
                border: none;
            }
        }
    }
    
    .page-name {
        float: left;
        font-size: 27px;
        color: #177abf;
        padding-left: 30px;
        background: url(../images/black-arrow.png) no-repeat;
        background-position: 0% center;
        margin-top: 10px;
        margin-left: 29px;
        
        @include breakpoint(mobile) {
            font-size: 18px;
            padding-left: 18px;
            margin-top: 5px;
            margin-left: 13px;
        }
    }
    
    .to-main {
        width: 177px;
        height: 40px;
        float: right;
        line-height: 35px;
        border: 2px solid #bbd50f;
        border-radius: 20px;
        margin-right: 27px;
        margin-top: 8px;
        font-size: 13px;
        font-weight: $fontMedium;
        color: black;
        padding-left: 32px;
        background: url(../images/black-arrow-left.png) no-repeat;
        background-position: 8% center;
        text-decoration: none;
        
        @include breakpoint(tablet) {
            margin-right: 0px;
            margin-top: 6px;
        }
        
        @include breakpoint(mobile) {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            margin-top: -2px;
            margin-right: 0px;
            width: 63px;
            background-position: 22% center;
            position: relative;
            
            &:before {
                content: "";
                position: absolute;
                width: 15px;
                height: 12px;
                background: url('../images/icon-home.png') no-repeat;
                top: 11px;
                right: 13px;
            }
        }
    }
}

#slider {
    width: 100%;
    height: 354px;
    @include clearfix();
    
    @include breakpoint(mobile) {
        height: 275px;
    }
    
    .bxslider {
        visibility: hidden;
    }
    
    .bx-wrapper {
        margin-bottom: 0;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 15px;
        height: 15px;
        background: transparent;
        border: 2px solid transparent;
        border-radius: 50%;
        position: relative;
        margin: 0 3px;
        
        &:before {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            content: "";
            background: #919191;
        }
    }
    
    .bx-wrapper .bx-pager {
        padding-top: 0px;
        bottom: 36px;
        left: 136px;
        width: 25%;
        
        @include breakpoint(tablet) {
            bottom: 55px;
            left: 155px;
        }
        @include breakpoint(mobile) {
            padding-top: 0px;
            bottom: 67px;
            left: 0px;
            width: 100%;
        }
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a:hover, 
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        border: 2px solid #bbd50f;
    }

    
    .bx-wrapper img {
        float: right;
        margin-top: 60px;
        margin-right: 96px;
        
        @include breakpoint(tablet) {
            margin-top: 64px;
            margin-right: 0px;
        }
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .slider-content {
        float: left;
        max-width: 33%;
        left: -2px;
        position: relative;
        margin-top: 94px;
        
        @include breakpoint(tablte) {
            max-width: 38%;
        }
        @include breakpoint(mobile) {
            max-width: 100%;
            left: 0px;
            margin-top: 28px;
            text-align: center;
        }
            
        .slider-title {
            font-size: 27px;
            float: left;
            width: 100%;
            line-height: 1.14em;
            margin-top: 5px;
            letter-spacing: 0.0em;
            
            @include breakpoint(tablet) {
                margin-top: 8px;
            }
            @include breakpoint(mobile) {
                font-size: 22px;
                margin-top: 8px;
            }
        }
        
        .slider-description {
            width: 100%;
            float: left;
            margin-top: 28px;
            margin-left: 3px;
            @include breakpoint(mobile) {
                margin-top: 20px;
                margin-left: 0px;
            }
        }
        
        .slider-link {
            width: 128px;
            height: 40px;
            float: left;
            line-height: 36px;
            border: 2px solid #bbd50f;
            border-radius: 20px;
            margin-left: 3px;
            margin-top: 36px;
            font-size: 13px;
            font-weight: 500;
            color: black;
            padding-left: 16px;
            background: url('../images/black-arrow.png') no-repeat;
            background-position: 89% center;
            text-decoration: none;
            
            &:hover {
                color: white;
                background: url('../images/white-arrow.png') no-repeat;
                background-position: 89% center;
                background-color: #bbd50f;
            }

            @include breakpoint(mobile) {
                margin-left: 85px;
                margin-top: 61px;
                text-align: start;
            }
        }
    }
}

#offer-list {
    position: relative;
    margin-top: 52px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        margin-top: 56px;
        
        .container {
            text-align: center;
        }
    }
    @include breakpoint(mobile) {
        margin-top: 43px;
        .container {
            text-align: center;
        }
    }
    
    &:before {
        content: "";
        width: 100%;
        height: 4px;
        background: #146ca9;
        position: absolute;
        z-index: -2;
        bottom: 45px;
        
        @include breakpoint(tablet) {
            bottom: 50px;
        }
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .item {
        float: right;
        width: 204px;
        height: 136px;
        background: white;
        position: relative;
        margin-left: 29px;
        border-radius: 20px;
        
        @include breakpoint(tablet, mobile) {
            margin: 0 10px;
            float: none;
            display: inline-block;
        }
        @include breakpoint(mobile) {
            margin-bottom: 14px;
        }
        
        .title {
            color: $textColor;
            text-decoration: none;
            font-size: 15px;
            float: left;
            margin-top: 25px;
            margin-left: 20px;
        }
        
        .offer-icon {
            float: right;
            margin-top: 18px;
        }
        
        &:hover:before {
            background: url('../images/icon-btn-hover.png') no-repeat;
        }
        
        &:before {
            content: "";
            width: 35px;
            height: 36px;
            background: url('../images/icon-btn.png') no-repeat;
            position: absolute;
            bottom: 16px;
            left: 19px;
        }
        
        &:after {
            content: "";
            width: 382px;
            height: 298px;
            background: url('../images/box-shadow.png') no-repeat;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -89px;
            right: 0;
            margin: auto;
            z-index: -1;
            
            @include breakpoint(tablet, mobile) {
                width: 400px;
                height: 270px;
                background-size: contain;
                top: 25px;
                left: -64px;
            }
        }
    }
}

.sections {
    position: relative;
    padding-top: 104px;
    padding-bottom: 97px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        padding-bottom: 120px;
    }
    @include breakpoint(mobile) {
        padding-top: 29px;
        padding-bottom: 30px;
    }
    
    &:after {
        content: "";
        width: 100%;
        height: 4px;
        background: #146ca9;
        position: absolute;
        z-index: -2;
        bottom: 45px;
        bottom: 0;
        
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .image {
        float: left;
        margin-top: 111px;
        border-radius: 20px;
        
        @include breakpoint(tablet) {
            margin-top: 50px;
            margin-left: 49px;
            width: 205px;
            height: 247px;
            object-fit: none;
            object-position: center;
        }
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .content {
        float: right;
        text-align: left;
        width: 624px;
        padding-left: 30px;
        
        @include breakpoint(tablet) {
            width: 438px;
            padding-left: 0px;
            margin-top: 5px;
        }
        @include breakpoint(mobile) {
            text-align: center;
            width: 100%;
            padding-left: 0px;
        }
        
        .section-title {
            background: #177abf;
            color: white;
            font-size: 12px;
            font-weight: $fontBold;
            display: inline-block;
            padding: 2px 9px 0px 7px;
            margin-left: 2px;
            text-transform: uppercase;
            border-radius: 5px;
            letter-spacing: 0.0em;
        }
        
        .title {
            font-size: 27px;
            float: left;
            width: 100%;
            margin-top: 32px;
            line-height: 1.1em;
            margin-left: -2px;
            padding-right: 320px;
            position: relative;
            
            @include breakpoint(tablet) {
                font-size: 23px;
                margin-top: 24px;
                margin-left: 0px;
                padding-right: 220px;
            }
            @include breakpoint(mobile) {
                font-size: 23px;
                width: 65%;
                margin-top: 21px;
                margin-left: 55px;
                padding-right: 0px;
            }
            
            &:after {
                content: "";
                position: absolute;
                background: url('../images/vawe.png') no-repeat;
                width: 95px;
                height: 12px;
                right: 0px;
                bottom: 2px;
                
                @include breakpoint(mobile) {
                    display: none;
                }
            }
        }
        
        .section-content {
            float: left;
            width: 100%;
            margin-top: 31px;
            margin-left: -2px;
            
            @include breakpoint(tablet) {
                margin-top: 23px;
                margin-left: 0px;
            }
            @include breakpoint(mobile) {
                margin-top: 19px;
                margin-left: 0px;
            }
        }
    }
}

.gallery {
    position: relative;
    padding-top: 92px;
    padding-bottom: 36px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        padding-top: 69px;
        padding-bottom: 17px;
        overflow-x: hidden;
    }
    @include breakpoint(mobile) {
        padding-top: 25px;
        padding-bottom: 0px;
        overflow: hidden;
    }
    
    .container {
        padding: 0 132px;
        
        @include breakpoint(tablet) {
            padding: 0px;
        }
        @include breakpoint(mobile) {
            padding: 0 10px;
        }
    }
    
    .title {
        float: left;
        width: 100%;
        text-align: center;
    }
    
    .section-title {
        background: #177abf;
        color: white;
        font-size: 12px;
        font-weight: $fontBold;
        display: inline-block;
        padding: 3px 8px 0px 9px;
        text-transform: uppercase;
        border-radius: 5px;
        letter-spacing: 0.02em;
    }
    
    .more {
        .bx-wrapper {
            &:after {
                background-position: 113% -198%;
            }
        }
    }
    
    .bx-wrapper {
        max-width: 100% !important;
        width: 100%;
        left: 15px;
        
        @include breakpoint(tablet) {
            width: 88%;
            left: 6px;
        }
        @include breakpoint(mobile) {
            width: 68%;
            left: 0;
            top: 7px;
        }
        
        &:before {
            content: "";
            background: url(../images/img-box-shadow.png) no-repeat;
            position: absolute;
            width: 130px;
            height: 290px;
            top: 72px;
            left: -130px;
            background-position: -13% -198%;
            z-index: -1;
            
            @include breakpoint(mobile) {
                width: 130px;
                height: 235px;
                top: 79px;
                left: -130px;
                background-position: -10% 0%;
            }
        }
        
        &:after {
            content: "";
            background: url(../images/img-box-shadow.png) no-repeat;
            position: absolute;
            width: 130px;
            height: 290px;
            top: 72px;
            right: -130px;
            background-position: 128% -198%;
            z-index: -1;
        }
        
        .bx-prev {
            background: url('../images/prev-arrow.png') no-repeat;
            width: 23px;
            height: 44px;
            margin: 0;
            top: 134px;
            left: -96px;
            
            @include breakpoint(tablet) {
                left: -51px;
            }
            @include breakpoint(mobile) {
                top: 138px;
                left: -49px;
            }
            
            &:hover {
                background: url('../images/prev-arrow-hover.png') no-repeat;
            }
        }
        
        .bx-next {
            background: url('../images/next-arrow.png') no-repeat;
            width: 23px;
            height: 44px;
            margin: 0;
            top: 134px;
            right: -70px;
            
            @include breakpoint(tablet) {
                right: -40px;
            }
            @include breakpoint(mobile) {
                top: 137px;
                right: -48px;
            }
            
            &:hover {
                background: url('../images/next-arrow-hover.png') no-repeat;
            }
        }
        
        .bx-viewport {
            background: transparent;
            height: 370px !important;
            
            @include breakpoint(mobile) {
                height: 335px !important;
            }
        }
    }
    
    .gallery-list {
        float: left;
        margin-top: 18px;
        visibility: hidden;
    }
    
    .img-border {
        float: left;
        padding: 20px;
        border-radius: 20px;
        position: relative;
        background: white;
        width: 204px !important;
        
        @include breakpoint(tablet) {
            margin-right: 20px !important;
        }
        
        .example-image-link {
            width: 164px;
            height: 225px;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
            float: left;
            overflow: hidden;
            
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                display: none;
                width: 35px;
                height: 36px;
                background: url('../images/icon-zoom.png') no-repeat;
            }
            
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            &:hover:after {
                display: block;
            }
            
            &:before {
                content: "";
                background: url('../images/img-box-shadow.png') no-repeat;
                position: absolute;
                width: 382px;
                height: 298px;
                top: 70px;
                z-index: -2;
                left: -88px;
            }
        }
        
        img {
            width: 100%;
            transition: all 0.3s;
        }
    }
    
    .section-content {
        width: 449px;
        margin: 0 auto;
        text-align: center;
        margin-top: 54px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        
        @include breakpoint(tablet) {
            margin-top: 45px;
            margin-bottom: 11px;
        }
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 43px;
            line-height: 1.4;
        }
    }
}

.contact {
    position: relative;
    float: left;
    width: 100%;
    @include clearfix();
    
    @include breakpoint(tablet, mobile) {
        background: #373737;
    }
    
    .container {
        background: #373737;
        border-radius: 30px;
        padding-bottom: 35px;
        
        @include breakpoint(tablet) {
            background: transparent;
        }
        
        @include breakpoint(mobile) {
            background: transparent;
        }
    }
    
    .title {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 41px;
        
        @include breakpoint(mobile) {
            margin-top: 52px;
        }
    }
    
    .section-title {
        background: #177abf;
        color: white;
        font-size: 12px;
        font-weight: $fontBold;
        display: inline-block;
        padding: 3px 8px 0px 9px;
        text-transform: uppercase;
        border-radius: 5px;
        letter-spacing: 0.02em;
    }
    
    .contact-info {
        float: left;
        width: 443px;
        margin-top: 28px;
        
        @include breakpoint(tablet) {
            width: 390px;
        }
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 26px;
        }
        
        .logo {
            float: left;
            width: 82px;
            height: 31px;
            
            @include breakpoint(mobile) {
                margin-left: 110px;
            }
            
            img {
                width: 100%;
            }
        }
        
        .contact-info-container {
            float: left;
            width: 100%;
            
            .first-info {
                float: left;
                width: 156px;
                color: white;
                margin-top: 30px;
                line-height: 1.38em;
                
                @include breakpoint(mobile) {
                    width: 100%;
                    margin-top: 10px;
                    text-align: center;
                    line-height: 1.5em;
                    font-size: 12px;
                }
            }
            
            .second-info {
                float: right;
                width: 234px;
                padding-right: 15px;
                color: white;
                margin-top: 66px;
                line-height: 1.38em;
                
                @include breakpoint(tablet) {
                    margin-top: 64px;
                    line-height: 1.37em;
                }
                @include breakpoint(mobile) {
                    width: 100%;
                    padding-right: 0px;
                    margin-top: 19px;
                    line-height: 1.34em;
                    column-count: 2;
                    text-align: center;
                    font-size: 12px;
                    letter-spacing: -0.0em;
                }
            }
        }
    }
    
    .contact-form {
        float: right;
        width: 440px;
        margin-top: 32px;

        @include breakpoint(tablet) {
            width: 360px;
            margin-top: 34px;
        }
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 15px;
        }
        
        .form-title {
            font-size: 27px;
            color: white;
            letter-spacing: -0.02em;
            
            @include breakpoint(tablet) {
                font-size: 23px;
            }
            @include breakpoint(mobile) {
                font-size: 23px;
                text-align: center;
                width: 200px;
                margin: 0 auto;
            }
        }
        
        #form_contact {
            float: left;
            width: 100%;
            margin-top: 23px;
            
            @include breakpoint(tablet) {
                margin-top: 26px;
            }
            @include breakpoint(mobile) {
                width: 87%;
                margin-left: 18px;
                margin-top: 13px;
            }
        }
        
        .form-group {
            margin: 0px;
            margin-bottom: 10px;
            padding-left: 2px;
        }
        
        .phone {
            float: left;
            width: 213px;
            
            @include breakpoint(tablet) {
                width: 175px;
            }
            @include breakpoint(mobile) {
                width: 100%;
            }
        }
        
        .email {
            float: right;
            width: 213px;
            
            @include breakpoint(tablet) {
                width: 175px;
            }
            @include breakpoint(mobile) {
                width: 100%;
            }
        }
        
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #b6b6b6;
            &:focus {
                color: white;
            }
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: #b6b6b6;
            &:focus {
                color: white;
            }
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: #b6b6b6;
            &:focus {
                color: white;
            }
        }
        :-moz-placeholder { /* Firefox 18- */
            color: #b6b6b6;
            &:focus {
                color: white;
            }
        }
        
        .form-control {
            background: #2c2c2c;
            color: white;
            border: 0;
            outline: none;
            box-shadow: none;
            height: 40px;
            border-radius: 20px;
            font-size: 13px;
            letter-spacing: -0.02em;
            padding: 6px 21px;
            
            &:focus {
                background: #bbd50f;
            }         
        }
        
        .textarea {
            resize: none;
            height: 110px;
            padding-top: 12px;
            
            @include breakpoint(mobile) {
                height: 130px;
            }
        }
        
        .submit-btn {
            float: left;
            width: 100%;
            margin-top: 2px;
            
            .message {
                float: right;
                width: 312px;

                @include breakpoint(mobile) {
                    float: left;
                    width: 100%;
                }
                
                .green-color {
                    color: #bbd50f;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    
                    @include breakpoint(mobile) {
                        text-align: center;
                    }
                }
                
                .red-color {
                    color: #d50f0f;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    
                    @include breakpoint(mobile) {
                        text-align: center;
                    }
                }
            }
            
            .btn-default {
                border: 2px solid #bbd50f;
                background: transparent url(../images/white-arrow.png) no-repeat;
                background-position: 82% center;
                color: white;
                width: 83px;
                height: 40px;
                border-radius: 20px;
                text-align: start;
                padding: 0px 14px;
                font-weight: $fontMedium;
                letter-spacing: -0.05em;
                outline: none;
                
                &:hover {
                    background-color: #bbd50f;
                }
                
                @include breakpoint(mobile) {
                    margin-left: 88px;
                    margin-bottom: 6px;
                }
            }
        }
    }
}

#page {
    position: relative;
    float: left;
    width: 100%;
    @include clearfix();
    overflow: hidden;
    
    .container {
        padding: 0 132px;
        padding-bottom: 71px;
        
        @include breakpoint(tablet) {
            padding: 0;
            padding-bottom: 33px;
        }
        @include breakpoint(mobile) {
            padding: 0 10px;
        }
    }
    
    .left-content {
        float: left;
        width: 702px;
        
        @include breakpoint(tablet) {
            width: 546px;
            padding-right: 30px;
        }
        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
        }
        
        .title {
            float: left;
            width: 100%;
            padding: 0 15px;
            font-size: 27px;
            font-weight: normal;
            margin-top: 41px;
            margin-left: -1px;
            margin-bottom: 6px;
            
            @include breakpoint(tablet) {
                padding: 0;
                font-size: 23px;
                margin-top: 37px;
                margin-left: 0px;
                margin-bottom: 0px;
            }
            
            @include breakpoint(mobile) {
                padding: 0;
                font-size: 23px;
                margin-top: 26px;
                margin-left: 0px;
                margin-bottom: 7px;
            }
        }
        
        .content-text {
            float: left;
            width: 100%;
            padding: 0 15px;
            
            @include breakpoint(tablet) {
                padding: 0;
            }
        }
    }
    
    .right-content {
        float: right;
        width: 234px;
        padding: 0 15px;
        margin-top: 94px;
        
        @include breakpoint(mobile) {
            padding: 0;
            width: 100%;
            display: none;
        }
        
        @include breakpoint(tablet) {
            width: 204px;
            padding: 0px;
            margin-top: 80px;
        }
        
        .section-title {
            font-size: 17px;
            margin-bottom: 16px;
        }

        .item {
            float: right;
            width: 204px;
            height: 136px;
            background: white;
            position: relative;
            margin-left: 29px;
            border-radius: 20px;
            margin-bottom: 21px;

            .title {
                color: $textColor;
                text-decoration: none;
                font-size: 15px;
                float: left;
                margin-top: 25px;
                margin-left: 20px;
            }

            .offer-icon {
                float: right;
                margin-top: 18px;
            }

            &:hover:before {
                background: url('../images/icon-btn-hover.png') no-repeat;
            }

            &:before {
                content: "";
                width: 35px;
                height: 36px;
                background: url('../images/icon-btn.png') no-repeat;
                position: absolute;
                bottom: 16px;
                left: 19px;
            }

            &:after {
                content: "";
                width: 382px;
                height: 298px;
                background: url('../images/box-shadow.png') no-repeat;
                position: absolute;
                top: 35px;
                bottom: 0;
                left: -89px;
                right: 0;
                margin: auto;
                z-index: -1;
            }
        }
    }
    
    .photo-gallery {
        float: left;
        width: 100%;
        margin-top: 34px;
        margin-bottom: 20px;
        
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-bottom: 25px;
        }
        
        a.example-image-link {
            position: relative;
            margin: 0 15px;
            margin-bottom: 30px;
            width: 204px;
            height: 136px;
            float: left;
            border-radius: 20px;
            overflow: hidden;
            -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
            
            @include breakpoint(tablet) {
                margin: 0px;
                margin-right: 30px;
                margin-bottom: 30px;
            }
            @include breakpoint(mobile) {
                margin: 0 47px;
                margin-bottom: 20px;
            }
            
            &:before {
                content: "";
                width: 382px;
                height: 298px;
                background: url(../images/box-shadow.png) no-repeat;
                position: absolute;
                top: 40px;
                bottom: 0;
                left: -94px;
                right: 0;
                margin: auto;
                z-index: -1;
            }
            
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
             
            &:hover:after {
                display: block;
            }
            
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                display: none;
                width: 35px;
                height: 36px;
                background: url(../images/icon-zoom.png) no-repeat;
            }
            img {
                margin: auto;
                transition: all 0.3s;
                width: 100%;
                height: 100%;
            }
        }
    }
}

footer {
    position: relative;
    float: left;
    width: 100%;
    height: 135px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        height: 114px;
    }
    @include breakpoint(mobile) {
        height: 111px;
    }
    
    .copy {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 42px;
        color: #8c8c8c;
        
        @include breakpoint(tablet) {
            margin-top: 34px;
            font-size: 12px;
        }
        @include breakpoint(mobile) {
            margin-top: 35px;
        }
    }
    
    .project {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-top: 4px;
        letter-spacing: 0.0em;
        color: #8c8c8c;
        
        @include breakpoint(tablet) {
            margin-top: 2px;
        }
        
        a.lemo-logo {
            padding-left: 16px;
            position: relative;
            
            @include breakpoint(tablet) {
                padding-left: 0px;
            }
            
            img {
                position: relative;
                left: -10px;
                
                @include breakpoint(tablet) {
                    left: 8px;
                }
            }
        }
    }
}

.menu-mobile {
    background: #0077c0;
    position: fixed;
    display: none;
    z-index: 999999;
    width: 100%;
    bottom: 0;
    top: 0;
    
    .hide-menu {
        background: transparent url(../images/hide-menu.png) no-repeat right top;
        position: absolute;
        cursor: pointer;
        height: 25px;
        width: 25px;
        right: -260px;
        top: 28px;

        @include breakpoint(mobile) {
            right: -50px;
        }
    }
    
    .content {
        position: relative;
        display: table;
        height: 100%;
        margin: 0 auto;
        
        .menu-container {
            vertical-align: middle;
            display: table-cell;
            
            ul {
                list-style: none;
                padding: 0;
                width: 225px;
                
                li {
                    text-align: center;
                    float: none;
                    .has-submenu {
                        display: none;
                    }
                    
                    a {
                        color: white;
                        display: inline-block;
                        font-size: 18px;
                        margin: 0 auto;
                        padding: 9px 4px;
                        text-decoration: none;
                        text-transform: uppercase;
                        width: 100%;
                        background: transparent;
                        
                        @include breakpoint(mobile) {
                            font-size: 18px;
                            margin: 0 auto;
                            padding: 7px 4px;
                        }
                        
                        &:hover {
                            background: transparent;
                            color: #bbd50f;
                        }
                    }
                }
                
                .dropdown-menu {
                    background: transparent;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    position: relative;
                    display: block;
                    float: none;
                }
            }
        }
    }
}

.mobile-select {
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
    display: none;
    background: #0077c0;
    @include clearfix();
    
    @include breakpoint(mobile) {
        display: block;
    }
    
    .items {
        width: 204px;
        height: 40px;
        margin: 0 auto;
        margin-top: 14px;
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: 2px solid #bbd50f;
        z-index: 1;
        
        &:hover {
            cursor: pointer; 
            cursor: hand;
        }
         
        .item {
            display: none;
        }
        
        .active-item {
            display: block;
            color: white;
            font-weight: $fontMedium;
            font-size: 13px;
            background: url('../images/white-arrow-down.png') no-repeat;
            background-position: 93% center;
            padding: 9px 14px;
        }
    }
    
    .active {
        width: 204px;
        border-radius: 20px;
        background: #bbd50f;
        margin: 0 auto;
        margin-top: 14px;
        position: absolute;
        left: 0;
        right: 0;
        padding: 9px 0;
        z-index: 1;
        border: none;
        height: auto;
        
        .item {
            font-weight: $fontMedium;
            font-size: 13px;
            color: white;
            float: left;
            width: 100%;
            padding: 3px 16px;
            display: block;
        }
        
        .active-item {
            color: $textColor;
            background: url('../images/white-arrow-up.png') no-repeat;
            background-position: 93% center;
        }
    }
}