<div id="offer-list">
    <div class="container">
        {% for offer in entities %}
            <a class="item" href="{{ path('ls_offer_show', {'slug': offer.slug}) }}">
                <span class="title">{{ offer.title }}</span>
                <img class="offer-icon" src="{{ offer.getThumbWebPath('icon') }}">
            </a>
        {% endfor %}
    </div>
</div>
