{% extends '::frontend.html.twig' %}

{% block title %} {{ entity.seotitle }} - Oferta - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block header %}
<header id="offer-header">
    <div class="container">
        <a class="logo" href="{{ path('ls_core_homepage') }}">
            <img src="{{ asset('bundles/lscore/front/images/logo.png') }}" alt="{{ cms_config.get('seo_title', '') }}" title="{{ cms_config.get('seo_title', '') }}">
        </a>
        <div class="page-name">Oferta</div>
        <a href="{{ path('ls_core_homepage') }}" class="to-main">Wróc do strony głównej</a>
    </div>
</header>
{% endblock %}

{% block content %}
<div id="page">
    <div class="mobile-select">
        <div class="container">
            <div class="items">
                <div class="item active-item">{{ entity.title }}</div>
                {% for offer in other %}
                    <a href="{{ path('ls_offer_show', {'slug': offer.slug}) }}" class="item">{{ offer.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="left-content">
            <h1 class="title">{{ entity.title }}</h1>
            <div class="content-text">{{ entity.content|raw }}</div>
            {% if entity.gallery %}
                <div class="photo-gallery">
                    {{ include ("LsGalleryBundle:Front:_hasgallery.html.twig", { 'gallery': entity.gallery, 'type': 'detail' }) }}
                </div>
            {% endif %}
        </div>
        <div class="right-content">
            <div class="section-title">Zobacz także</div>
            {% for offer in other %}
                <a class="item" href="{{ path('ls_offer_show', {'slug': offer.slug}) }}">
                    <span class="title">{{ offer.title }}</span>
                    <img class="offer-icon" src="{{ offer.getThumbWebPath('icon') }}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}