{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

<div class="container">
    <div class="title"><div class="section-title">Kontakt</div></div>
    <div class="contact-info">
        <a class="logo" href="{{ path('ls_core_homepage') }}">
            <img src="{{ asset('bundles/lscore/front/images/bottom-logo.png') }}" alt="{{ cms_config.get('seo_title', '') }}" title="{{ cms_config.get('seo_title', '') }}">
        </a>
        <div class="contact-info-container">
            <div class="first-info">
                {{ cms_config.get('contact_info', '')|nl2br|raw }}
            </div>
            <div class="second-info">
                {{ cms_config.get('second_contact_info', '')|nl2br|raw }}
            </div>
        </div>
    </div>
    <div class="contact-form">
        <div class="form-title">Masz pytania? Napisz do nas!</div>
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
        <div class="form-group">
            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="form-group phone">
            {{ form_widget(form.phone, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="form-group email">
            {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.content, {'attr': {'class': 'form-control textarea' }}) }}
        </div>
        {#{{ form_row(form.google_recaptcha, {'attr': {'class': 'g-recaptcha' }}) }}#}
        <div class="form-group submit-btn">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default' }}) }}
            <div class="message"></div>
        </div>
        {{ form_end(form) }}
    </div>
</div>